NORTHSSL_APP_NAME=NorthSSL
NORTHSSL_ENVIRONMENT=development
NORTHSSL_DEBUG=false
NORTHSSL_LOG_LEVEL=INFO
NORTHSSL_DATA_DIR=C:\\Users\\YourUser\\.northssl
NORTHSSL_DATABASE_NAME=northssl.db
NORTHSSL_API_HOST=127.0.0.1
NORTHSSL_API_PORT=8000
NORTHSSL_ACME_STAGING=true
NORTHSSL_ACME_DNS_CLOUDFLARE_CREDENTIALS_PATH=C:\path\to\cloudflare.ini
NORTHSSL_ACME_DNS_CLOUDFLARE_PROPAGATION_SECONDS=60
